@charset "UTF-8";
@mixin object($w,$h,$display){
    width: $w;
    height: $h;
    display: $display;
}

.adm_faq{
    position: relative;
    // 상단 텍스트
    &>.faq_title{
        width: 100%;
        background-color: #ccc;
        &>div{         
            @include object(1200px,40px,block);
            margin: 0 auto; 
            line-height: 40px;
            font-weight: bold;
        }
    }

    // 상품검색
    &> #frm{ 
        @include object(1200px,80px,"");
        margin: 0 auto;
        top: 0;
        &>.faq_sbox{
            @include object(1200px,80px,flex);
            align-items: center;
            &>.faq_search{
                @include object(210px,30px,"");
                text-indent: 10px;
            }
            &>.search_btn{
                @include object(80px,30px,"");
                background-color: salmon;
                border: 1px solid salmon;
                border-radius: 5px;
                color: white;
                margin-left: 5px;
                &:hover{ box-shadow: 0 3px 5px 0 rgba(100, 100, 100, 0.35); }
            }
        }
    }

    // 
    &>.tab_category{
        @include object(1200px,60px,"");
        margin: 0 auto;
        top: 10px;
        &>span{
            display: inline-block;
            margin-right: 5px;
            border-radius: 5px;
            border: 1px solid #ccc;
            padding: 5px 10px 5px 10px;
            cursor: pointer;
            &:hover{
                background-color: #eee;
            }
        }
    }

    // faq list table
    &>.faq_table{
        @include object(1200px,auto,"");
        margin: 0 auto;
        text-align: center;
        margin-bottom: 10px;
        border-spacing: 0; 
        border-collapse: collapse; 

        & thead{
            & th{
                background-color: #ddd;
                border: 1px solid #ccc;
                height: 40px;
            }
        }
        //FAQ list 출력
        &>.faq_list{
            height: 45px;
            & td:nth-of-type(1){ width: 150px; }
            & td:nth-of-type(2){ 
                text-align: left;
                text-indent: 10px;
                &>em{ color: crimson; }
            }
            & td:nth-of-type(3){ width: 150px; }
            & td:nth-of-type(4){ width: 150px; }
            & td:nth-of-type(5){ 
                width: 70px; 
                padding-left: 15px;
                &>span{
                    @include object(40px,25px,flex);
                    justify-content: center;
                    align-items: center;
                    color: white;
                    background-color:cadetblue;
                    font-size: 12px;
                    border-radius: 2px;
                    cursor: pointer; 
                    &:hover{ box-shadow: 0 3px 5px 0 rgba(100, 100, 100, 0.35); }
                }
            }
        }
        & tr{
            height: 35px;
            &:nth-of-type(1){
                &>  td:nth-of-type(2){
                    cursor: pointer;
                    &:hover{
                        font-weight: bold;
                    }
                }
            }
            &:nth-of-type(2){ 
                display: none; 
                &>  td:nth-of-type(2){
                    padding: 20px;
                }
            }
            & td{      
                background-color: rgb(250, 250, 250);
                border: 1px solid #ccc;
            }
        }
    }

    // FAQ페이지 번호
    .faq_page{
        @include object(1200px,30px,"");
        margin: 0 auto;
        margin-top: 15px;
        & > ul { 
            @include object(100%,inherit,flex);
            flex-flow: wrap row;
            justify-content: center;
            & > li {
                @include object(30px,30px,"");
                background-color: lightsalmon;
                color: white;
                text-align: center;
                line-height: 30px;
                margin-right: 5px;
                cursor: pointer;
            }
        }
    }

    // FAQ등록버튼
    &>div{
        @include object(1200px,60px,"");
        position: relative;
        margin: 0 auto;
        &>.faq_btn{
            @include object(100px,35px,"");
            position: absolute;
            background-color: salmon;
            border: 1px solid salmon;
            border-radius: 5px;
            color: white;
            right: 0;
            top: 10px;
            &:hover{ box-shadow: 0 3px 5px 0 rgba(100, 100, 100, 0.35); }
        }
    }
}

// ****FAQ 등록 페이지****
.adm_faqadd{
& form {
    position: relative;
    top: 20px;
    &>.faq_table{
        @include object(1200px,auto,"");
        margin: 0 auto;
        margin-bottom: 10px;
        border-spacing: 0; 
        border-collapse: collapse; 
        & >.faq_add{
            & tr{
                height: 40px;
                & td:first-of-type{
                    @include object(200px,55px,"");
                    background-color: #ccc;
                    border: 1px solid #eee;
                    padding-left: 10px;
                }
                & td:last-of-type{      
                    background-color: rgb(250, 250, 250);
                    border: 1px solid #ccc;
                    padding-left: 10px;
                }
                &:nth-of-type(1)> td:last-of-type > select{ 
                    @include object(170px,40px,"");
                    text-indent: 5px;
                    border: 1px solid #bbb; 
                }
                &:nth-of-type(2)> td:last-of-type > input{ 
                    @include object(980px,40px,""); border: 1px solid #bbb; 
                }
            }
        }
    }
    &> .new_fbtn{
        @include object(1200px,auto,""); 
        margin: 0 auto;
        margin-top: 20px;
        text-align: center;
        & input{
            @include object(100px,35px,"");
            background-color: #aaa;
            border: 1px solid #aaa;
            border-radius: 5px;
            color: white;
            &:nth-of-type(2),&:nth-of-type(3){ 
                background-color: salmon; 
                border: 1px solid salmon;
                margin-right: 5px; 
            }
            &:hover{ 
                background-color: lightsalmon;
                border: 1px solid lightsalmon;
                box-shadow: 0 3px 5px 0 rgba(100, 100, 100, 0.35);  
            }
        }
    }
}
}
input[type="text"]{ text-indent: 10px; }