@charset "UTF-8";
ul, ol {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

.top {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  flex-flow: wrap column;
  justify-content: center;
  margin: 0 auto;
  font-size: 12px;
}
.top > .top_bk {
  height: 80px;
  background-color: #fee63c;
  position: relative;
  margin-bottom: -82px;
}
.top > .top_part1 {
  width: 1174px;
  height: auto;
  display: block;
  position: relative;
  margin: 0 auto;
}
.top > .top_part1 > img {
  cursor: pointer;
}
.top > .top_part2 {
  width: 100%;
  height: 40px;
  display: block;
  border-bottom: 1px solid #ddd;
  position: relative;
  line-height: 40px;
  font-size: 13px;
}
.top > .top_part2 > .t_menu {
  width: 1174px;
  height: 40px;
  display: block;
  margin: 0 auto;
}
.top > .top_part2 > .t_menu > div {
  float: left;
}
.top > .top_part2 > .t_menu > div > span {
  border: 1px solid #ddd;
  border-bottom: 0;
  text-align: center;
  float: left;
  cursor: pointer;
}
.top > .top_part2 > .t_menu > div > span:nth-of-type(1) {
  width: 90px;
  height: inherit;
  display: block;
  border-right: 0;
}
.top > .top_part2 > .t_menu > div > span:nth-of-type(2) {
  width: 160px;
  height: inherit;
  display: block;
}
.top > .top_part2 > .t_menu > div > span > img {
  width: 15px;
  height: 15px;
  display: "";
  margin-right: 5px;
}
.top > .top_part2 > .t_menu > ul {
  width: "";
  height: auto;
  display: flex;
  justify-content: flex-end;
  position: relative;
}
.top > .top_part2 > .t_menu > ul > li {
  display: inline-block;
  margin-left: 5px;
  cursor: pointer;
}
.top > .top_part2 > .t_menu > ul > li:after {
  content: "　|";
  margin-right: 10px;
}
.top > .top_part2 > .t_menu > ul > li:last-of-type::after {
  content: "";
}
.top > .top_part2 > .t_menu > ul > .top_point {
  position: relative;
}
.top > .top_part2 > .t_menu > ul > .top_point > div {
  width: 60px;
  height: 20px;
  display: "";
  background-color: #303947;
  font-size: 12px;
  color: white;
  border-radius: 10px;
  position: absolute;
  text-align: center;
  line-height: 20px;
  top: 100%;
  left: 50%;
  margin-left: -45px;
  cursor: pointer;
}
.top > .top_part2 > .t_menu > ul > .top_point > div:hover {
  box-shadow: 0 3px 5px 0 rgba(100, 100, 100, 0.35);
}
.top > .top_part2 > .t_menu > ul > .top_point > div > span {
  width: 11px;
  height: 5px;
  display: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5.5px;
  background-image: url("../image/joinpoin_bg.png");
  background-repeat: no-repeat;
  background-size: inherit;
}
.top > .top_part3 {
  width: 1174px;
  height: 140px;
  display: flex;
  position: relative;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
}
.top > .top_part3 > div {
  width: 295px;
  height: auto;
  display: "";
}
.top > .top_part3 > div > img {
  cursor: pointer;
}
.top > .top_part3 > div form > span:first-of-type {
  width: 100%;
  height: 35px;
  display: flex;
  align-items: center;
  flex-flow: wrap row;
}
.top > .top_part3 > div form > span:first-of-type > .s_input {
  width: 235px;
  height: 35px;
  display: "";
  box-sizing: border-box;
  float: left;
  border: 1px solid #bbb;
  text-indent: 5px;
}
.top > .top_part3 > div form > span:first-of-type > img {
  width: 35px;
  height: 35px;
  display: "";
  background: black url("../image/btn_top_search.png") center top no-repeat;
  cursor: pointer;
}
.top > .top_part3 > div > span:last-of-type {
  width: 273px;
  height: 25px;
  display: block;
  position: relative;
  overflow: hidden;
}
.top > .top_part3 > div > span:last-of-type > ul {
  width: 235px;
  height: 25px;
  display: "";
  position: absolute;
}
.top > .top_part3 > div > span:last-of-type > ul > li {
  width: 235px;
  height: 25px;
  display: "";
  line-height: 25px;
  text-indent: 10px;
  cursor: pointer;
}
.top > .top_part3 > div > span:last-of-type > label {
  position: absolute;
  right: 0;
  bottom: 3px;
}
.top > .top_part3 > div > span:last-of-type > label > img {
  float: left;
  -o-object-fit: contain;
     object-fit: contain;
  cursor: pointer;
}

a {
  color: black;
}/*# sourceMappingURL=shop_top.css.map */