@charset "UTF-8";
$noto:'Noto Sans KR', sans-serif;   //100;300;400;500;700;900
@mixin base{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@mixin object($w,$h,$display,$po){
    width: $w;
    height: $h;
    display: $display;
    position: $po;
}

// .shop_banner{
//     @include object(100%,auto,block,"");
// }

// Fade in effect    
.effect1 { 
    @include object(100%,534px,none,relative);
    zoom: 1;
    & > .main_banner{
        @include object(100%,inherit,block,relative);
        overflow: hidden;
        & > .banner_disc {
            width: 100%;
            height: auto;
            text-align: center;
            position: relative;
            bottom: 30px;
            & > li {
                display:inline-block;
                width: 40px;
                height: 6px;
                background-color: rgba(0,0,0,0.7);
                cursor: pointer;
                &:first-of-type{ background-color: red; }
            }
        }
        & > .banner_ul {
            min-width: 1174px;
            height: inherit;
            position: relative;
            overflow: hidden;

            & > li {
                width: 100%;
                position: absolute;
                height: auto;
                & > img {
                    width: 100%;
                    min-height: 534px;
                    vertical-align: top;
                    object-fit: cover;
                }
                &:nth-of-type(2){
                    display: none;
                }
                &:nth-of-type(3){
                    display: none;
                }
            }
        }
        &>.banner_left{
            @include object(30px,57px,"",absolute);
            z-index: 2;
            background: url("../banner/arrow.png");
            left: 10%;
            top: 50%;
            margin-top: -50px;
            cursor: pointer;
        }
        &>.banner_right{
            @include object(30px,57px,block,absolute);
            z-index: 2;
            background: url("../banner/arrow.png") right;
            right: 10%;
            top: 50%;
            margin-top: -50px;
            cursor: pointer;
        }

    }
}

// rolling banner
.effect2 { 
    @include object(100%,534px,none,relative);
    &>.rolling_banner{
        @include object(100%,inherit,block,relative);
        overflow: hidden;
        &>span{
            @include object(1174px,20px,block,relative);
            margin: 0 auto;
            top: 70%;
            & > .rolling_disc {
                @include object(100%,auto,block,absolute);
                left: 25px;
                & > li {
                    @include object(20px,20px,inline-block,"");
                    border-radius: 100%;
                    margin-right: 8px;
                    background-color: rgba(0,0,0,0.7);
                    cursor: pointer;
                    &:first-of-type{ background-color: red; }
                }
            }
        }
        & > .rolling_ul {
            min-width: 1174px;
            height: auto;
            position: absolute;
            & > li {
                width: 100%;
                height: 534px;
                & > img {
                    width: 100%;
                    min-height: 534px;
                    vertical-align: top;
                    object-fit: cover;
                }
            }
        }
    }
}