.week_product {
  width: 100%;
  height: auto;
  display: block;
  position: relative;
  margin-bottom: 50px;
}
.week_product .part1 {
  width: 1174px;
  height: 76px;
  display: block;
  position: relative;
  margin: 0 auto;
  margin-bottom: 30px;
}
.week_product > .part2 {
  width: 1174px;
  height: auto;
  display: block;
  position: relative;
  margin: 0 auto;
}
.week_product > .part2 > .wproduct_view {
  width: 1174px;
  height: 1550px;
  display: flex;
  flex-flow: wrap row;
  justify-content: space-between;
  align-content: space-between;
}
.week_product > .part2 > .wproduct_view > .wproduct {
  width: 340px;
  height: 485px;
  display: inline-block;
  position: relative;
}
.week_product > .part2 > .wproduct_view > .wproduct:hover {
  border: 1px solid #ccc;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 3px 5px 0 rgba(100, 100, 100, 0.35);
}
.week_product > .part2 > .wproduct_view > .wproduct > li {
  position: relative;
}
.week_product > .part2 > .wproduct_view > .wproduct > li:nth-child(1) {
  width: inherit;
  height: 340px;
  display: block;
  position: relative;
}
.week_product > .part2 > .wproduct_view > .wproduct > li:nth-child(1) > span {
  width: 100%;
  height: inherit;
  display: block;
  position: relative;
}
.week_product > .part2 > .wproduct_view > .wproduct > li:nth-child(1) > span > img {
  width: 100%;
  height: inherit;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}
.week_product > .part2 > .wproduct_view > .wproduct > li:nth-child(1) > label {
  width: 340px;
  height: 60px;
  display: none;
  align-items: center;
  position: absolute;
  z-index: 3;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}
.week_product > .part2 > .wproduct_view > .wproduct > li:nth-child(1) > label > span {
  width: 170px;
  height: 60px;
  display: flex;
  flex-flow: wrap column;
  justify-items: center;
  align-items: center;
  color: white;
  cursor: pointer;
}
.week_product > .part2 > .wproduct_view > .wproduct > li:nth-child(1) > label > span:nth-of-type(2) {
  float: right;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
}
.week_product > .part2 > .wproduct_view > .wproduct > li:nth-child(1) > label > span > img {
  width: 25px;
  height: auto;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}
.week_product > .part2 > .wproduct_view > .wproduct > li:nth-child(1) > label > span:hover {
  background-color: rgba(255, 77, 77, 0.7);
}
.week_product > .part2 > .wproduct_view > .wproduct > li:nth-child(1):hover > label {
  display: flex;
}
.week_product > .part2 > .wproduct_view > .wproduct > li:nth-child(2) {
  width: 100%;
  height: 125px;
  display: flex;
  position: absolute;
  flex-flow: wrap column;
  margin-top: 5px;
}
.week_product > .part2 > .wproduct_view > .wproduct > li:nth-child(2) > span {
  width: 100%;
  box-sizing: border-box;
  text-align: center;
}
.week_product > .part2 > .wproduct_view > .wproduct > li:nth-child(2) > span:nth-of-type(1) {
  height: 25px;
  line-height: 25px;
  font-weight: 400;
}
.week_product > .part2 > .wproduct_view > .wproduct > li:nth-child(2) > span:nth-of-type(2) {
  height: 45px;
  line-height: 35px;
  font-size: 14px;
  color: gray;
}
.week_product > .part2 > .wproduct_view > .wproduct > li:nth-child(2) > span:nth-of-type(3) {
  height: 20px;
  font-size: 13px;
  text-align: right;
  padding-right: 5px;
  line-height: 20px;
  color: dimgrey;
}
.week_product > .part2 > .wproduct_view > .wproduct > li:nth-child(2) > span:nth-of-type(4) {
  height: 35px;
  line-height: 35px;
  text-align: right;
  padding-right: 5px;
  font-size: 18px;
  font-weight: bold;
  color: crimson;
}

.event_banner > img {
  width: 100%;
  height: auto;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}/*# sourceMappingURL=week_product.css.map */